html,
body,
#app {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-size: calc(0.58vw + 8px);
}
<<<<<<< HEAD

canvas {
=======
/* canvas{
>>>>>>> 48b69aeb6d24e63703b4843a5bc5804c4c573640
    border-radius: 20px;
} */